<mat-icon *ngIf="(positionEnabled | async) && (haveAPosition | async)">my_location</mat-icon>
<mat-icon *ngIf="(positionEnabled | async) && !(haveAPosition | async)">location_searching</mat-icon>
<mat-icon *ngIf="!(positionEnabled | async)">location_disabled</mat-icon>
<mat-icon *ngIf="(haveAnAcceleration | async)">vibration</mat-icon>
<mat-icon *ngIf="!(haveAnAcceleration | async)">crop_portrait</mat-icon>
