// Angular Material theming support
@import '~@angular/material/theming';
@include mat-core();

// Custom app colours
$telemetryapp-app-primary: mat-palette($mat-blue, 900);
$telemetryapp-app-accent: mat-palette($mat-pink, A200, A100, A400);
$telemetryapp-app-warn: mat-palette($mat-red);

// Build the theme for the app
$telemetryapp-app-theme: mat-light-theme($telemetryapp-app-primary, $telemetryapp-app-accent, $telemetryapp-app-warn);
@include angular-material-theme($telemetryapp-app-theme);

